header{
    background-color:  #EEDB00;
    padding: 1px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 34px;
}


.banner{
    position: relative;
}
.banner img{
    width: 100%;
    max-width: 100%;
    opacity: .9;
}

.banner .welcome{
    background-color: black; opacity: .8;
    position: absolute;
    color: white;
    padding: 30px;
    left: 0px;
    top: 13%;
}


.banner h2{
    font-size: 74px;
}

.banner h2 span{
    font-size: 95px;
}




nav{
    background-color: #381010 ;
    padding:  20px;

}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0px auto;
}
nav li{
    width: 35%;
    display: inline-block;
    font-size: 24px;
}
a{
    color: white;
}
