
/* sets up formating to page */
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;
}


/* styles header */
header{
    background-color:  #EEDB00;
    padding: 1px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

/* styles text of header */
header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 34px;
}

/* sets relative position to banner to stack other element within container */
.banner{
    position: relative;
}

/* style image of banner */
.banner img{
    width: 100%;
    max-width: 100%;
    opacity: .9;
}

/* styles welcome text on top of banner */
.banner .welcome{
    background-color: black; opacity: .8;
    position: absolute;
    color: white;
    padding: 30px;
    left: 0px;
    top: 25%;
}

/* style font size for welcome header */
.banner h2{
    font-size: 74px;
}

/* styles second portion of h2 */
.banner h2 span{
    font-size: 95px;
}

/* styles navigation bar */
nav{
    background-color:  #06425C ;
    padding:  20px;
    position: sticky;
    top: 60px;
    z-index: 1;
}

/* styles parent container of nav list */
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0px auto;
}

/* styles child list of parent container */
nav li{
    width: 35%;
    display: inline-block;
    font-size: 24px;
}

/* styles links */
nav li a{
    color: white;
    text-decoration: none;
}

/* styles main area of website */
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

/* styles header on main parent */
article h2{
    color:  #FF3333;
    font-size: 50px;
    text-align: center;
}

/* styles paragraph of header 2 parent */
article p{
    line-height: 2em;
}

/* styles first image */
.images{
    text-align: center; 
    margin: 80px 0;
    white-space: nowrap;
}

/* styles second image */
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}

.images li img{
    max-width: 100%;
    opacity: .8;
}
section.join{
    background: #06425C;
    text-align: center;
    padding: 60px 20px;
    color: white;
}
.join h2{
    font-size: 36px;
}

form input{
    margin: 20px 0px;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid #06425C;
}
footer{
    background: #EEDB00;
    color: white;
    padding: 10px;
    text-align: center;
}

nav li a:hover{
    text-decoration: underline;
}

.images li:hover{
    position: relative;
    top: -6px;
}
/* ---------- News page --------- */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .date{
    text-align: center;
  }

  .cash{
    text-align: center;
  }



/* -----Questions page-------- */
